:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-red:#FF0000;
    --color-gray: #787878;
    --color-gray-footer: #747474;
    --color-copyright: #333333;
    --color-light-blue: #0D73C2;
    --color-nav:#0062A4;

    --color-review-mess: #2B2B2B; 
}